__pycache__/
*~
.backup
.examples
.ipynb_checkpoints/

*temp*
*.csv
*.pdb*
*.pdf
*.pptx
*.png
*.pse

demos
envs
software
projects
examples
figs
*-Copy1*
*.cmds
*.list
*.out
*.log
*.err
*.json*
*.sh
*.yml
*.silent
._*
.DS_Store
test*
old*
run.py
run.sh

scaffolds
share/*
