__pycache__
*~
.backup
.examples
.ipynb_checkpoints/

*temp*
*.csv
*.pdb*
*.pdf
*.pptx
*.png
*.pse

00*/*
01*/*
02*/*
03*/*
04*/*
05*/*
06*/*
07*/*
examples
figs
*-Copy1*
*.cmds
*.list
*.out
*.log
*.err
*.json
*.yml
._*
.DS_Store
testing*
old*
run.py
run.sh

scaffolds
.gitignore
