__pycache__/
*~
.backup
.examples
.ipynb_checkpoints/

*.cmds
*.csv
*.err
*.fa
*.json*
*.list
*.log
*.out
*.pair
*.pdb*
*.pdf
*.png
*.pptx
*.pse
*.sh
*.silent
*.tasks
*.yml
*.zip
._*

demos
envs
software
projects/*/00*/*
projects/*/01*/*
projects/*/02*/*
projects/*/03*/*
projects/*/04*/*
projects/*/05*/*
projects/*/06*/*
projects/*/07*/*
projects/*/08*/*
projects/*/09*/*
projects/*/10*/*
projects/crispy_shifty_dimers/*/design/00*/*
projects/crispy_shifty_dimers/*/design/01*/*
projects/crispy_shifty_dimers/*/design/02*/*
projects/crispy_shifty_dimers/*/design/03*/*
projects/crispy_shifty_dimers/*/design/04*/*
projects/crispy_shifty_dimers/*/design/05*/*
projects/crispy_shifty_dimers/*/design/06*/*
projects/crispy_shifty_dimers/*/design/07*/*
projects/crispy_shifty_dimers/*/design/08*/*
projects/crispy_shifty_dimers/*/design/09*/*
projects/crispy_shifty_dimers/*/design/10*/*

examples
figs

slurm_logs
*temp*
*-Copy1*
test*
old*
run.py
run.sh
.DS_Store

scaffolds
scripts
share
